# Core Framework e Server
fastapi
gunicorn
uvicorn[standard]

# Gestione AI e File
google-genai>=0.1.0  # Assicura che la versione sia abbastanza recente per 'Client'
python-multipart    # Per la gestione dell'upload dei file in FastAPI
pydantic            # Per i modelli di dati FastAPI

# Utility
python-dotenv
jinja2